{{template "base" .}}

{{ define "githubGo" }}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
	  <b><i style="color: #AC2925;">Daily(Go)</i></b>
      <div class="list-group">
        {{ range $k,$v := .Data.Github0 }}
        <a href="{{$v.Link}}" class="list-group-item" target="_blank" style="background-color: whitesmoke;">
          <span class="badge">{{$v.Badge}}</span>
          <b><i style="color: #AC2925;">{{$k}}.</i></b>
          <b>{{$v.Name}}</b>
          <p class="list-group-item-text">{{$v.Description}}</p>
        </a>
        {{end}}
      </div>
    </div>
    <div class="col-md-4">
	  <b><i style="color: #AC2925;">Weekly(Go)</i></b>
      <div class="list-group">
        {{ range $k,$v := .Data.Github1 }}
        <a href="{{$v.Link}}" class="list-group-item" target="_blank" style="background-color: whitesmoke;">
          <span class="badge">{{$v.Badge}}</span>
          <b><i style="color: #AC2925;">{{$k}}.</i></b>
          <b>{{$v.Name}}</b>
          <p class="list-group-item-text">{{$v.Description}}</p>
        </a>
        {{end}}
      </div>
    </div>
    <div class="col-md-4">
	  <b><i style="color: #AC2925;">Monthly(Go)</i></b>
      <div class="list-group">
        {{ range $k,$v := .Data.Github2 }}
        <a href="{{$v.Link}}" class="list-group-item" target="_blank" style="background-color: whitesmoke;">
          <span class="badge">{{$v.Badge}}</span>
          <b><i style="color: #AC2925;">{{$k}}.</i></b>
          <b>{{$v.Name}}</b>
          <p class="list-group-item-text">{{$v.Description}}</p>
        </a>
        {{end}}
      </div>
    </div>
  </div>
</div>
{{end}}