{{template "base" .}}

{{ define "kr36" }}
<div class="container-fluid">
	<div class="row">
		<div class="col-md-4">
			<b><i style="color: #AC2925;">人气榜</i></b>
			<div class="list-group">
			{{ range $k,$v := .Data.Kr360 }}
				<a href="{{$v.Link}}" class="list-group-item" target="_blank" style="background-color: whitesmoke;">
					<span class="badge">{{$v.Badge}}</span>
					<b><i style="color: #AC2925;">{{$k}}.</i></b>
					{{$v.Name}}
					<p class="list-group-item-text">{{$v.Description}}</p>
				</a>
			{{end}}
			</div>
		</div>
		<div class="col-md-4">
			<b><i style="color: #AC2925;">综合榜</i></b>
			<div class="list-group">
			{{ range $k,$v := .Data.Kr361 }}
				<a href="{{$v.Link}}" class="list-group-item" target="_blank" style="background-color: whitesmoke;">
					<span class="badge">{{$v.Badge}}</span>
					<b><i style="color: #AC2925;">{{$k}}.</i></b>
					{{$v.Name}}
					<p class="list-group-item-text">{{$v.Description}}</p>
				</a>
			{{end}}
			</div>
		</div>
		<div class="col-md-4">
			<b><i style="color: #AC2925;">收藏榜</i></b>
			<div class="list-group">
			{{ range $k,$v := .Data.Kr362 }}
				<a href="{{$v.Link}}" class="list-group-item" target="_blank" style="background-color: whitesmoke;">
					<span class="badge">{{$v.Badge}}</span>
					<b><i style="color: #AC2925;">{{$k}}.</i></b>
					{{$v.Name}}
					<p class="list-group-item-text">{{$v.Description}}</p>
				</a>
			{{end}}
			</div>
		</div>
	</div>
</div>
{{end}}