{{template "navigation" .}}

{{ define "tool" }}
	<div class="container-fluid">
			<div class="row">
				  <div class="col-xs-0 col-md-2">
						<!-- <p>留白</p> -->
				  </div>
				  
			      <div class="col-xs-12 col-md-8">
					  <div class="container-fluid">
						  
						  <h3 style="color: #AC2925;">常用</h3>
						  <div id="kind1" class="row jumbotron">
							{{ range $k,$v := .Kind1 }}
							<div class="col-sm-4 col-md-2 ">
							    <a href="{{$v.Link}}" target="_blank">
							        <img class="img-circle lazy" src="../../bootstrap/img/link.png" width="30">
							        <strong>{{$v.Name}}</strong>
							        <p class="overflowClip_2">{{$v.Description}}</p>
							    </a>
							</div>
							{{end}}
						  </div>
						  
						  <h3 style="color: #AC2925;">娱乐</h3>
						  <div id="kind2" class="row jumbotron">
							{{ range $k,$v := .Kind2 }}
							<div class="col-sm-4 col-md-2 ">
								<a href="{{$v.Link}}" target="_blank">
									<img class="img-circle lazy" src="../../bootstrap/img/link.png" width="30">
									<strong>{{$v.Name}}</strong>
									<p class="overflowClip_2">{{$v.Description}}</p>
								</a>
							</div>
							{{end}}
						  </div>
						  
						  <h3 style="color: #AC2925;">编程</h3>
						  <div id="kind3" class="row jumbotron">
							{{ range $k,$v := .Kind3 }}
							<div class="col-sm-4 col-md-2 ">
								<a href="{{$v.Link}}" target="_blank">
									<img class="img-circle lazy" src="../../bootstrap/img/link.png" width="30">
									<strong>{{$v.Name}}</strong>
									<p class="overflowClip_2">{{$v.Description}}</p>
								</a>
							</div>
							{{end}}
						  </div>
						  
						  <h3 style="color: #AC2925;">博客</h3>
						  <div id="kind4" class="row jumbotron">
								{{ range $k,$v := .Kind4 }}
								<div class="col-sm-4 col-md-2 ">
									<a href="{{$v.Link}}" target="_blank">
										<img class="img-circle lazy" src="../../bootstrap/img/link.png" width="30">
										<strong>{{$v.Name}}</strong>
										<p class="overflowClip_2">{{$v.Description}}</p>
									</a>
								</div>
								{{end}}
						  </div>
						  
					  </div>
				  </div>
				  
				  <div class="col-xs-0 col-md-2">
				  		<!-- <p>留白</p>			 -->
				  </div>
			</div>
		</div>
{{end}}